<div *ngIf="currentFile" class="progress">
    <div
      class="progress-bar progress-bar-info progress-bar-striped"
      role="progressbar"
      attr.aria-valuenow="{{ progress }}"
      aria-valuemin="0"
      aria-valuemax="100"
      [ngStyle]="{ width: progress + '%' }"
    >
      {{ percentatge }}%
    </div>
  </div>
  
  <label class="btn btn-default">
    <input type="file" (change)="selectFile($event)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
  </label>
  
  <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">
    Carregar
  </button>
  
  <div class="alert alert-light" role="alert">{{ message }}</div>
  
  <div class="card">
    <div class="card-header">Llistat d'Alumnes</div>
    <ul
      class="list-group list-group-flush"
      *ngFor="let alumne of alumnesInfo"
    >
      <li class="list-group-item">
        <p>{{alumne.nom}} {{alumne.primerCognom}}, dni:{{alumne.dni}}, curs: {{alumne.curs}}, ralc: {{alumne.ralc}}</p>
      </li>
    </ul>
  </div>
